[submodule "hugo-refresh"]
	path = hugo-refresh
	url = https://github.com/PippoRJ/hugo-refresh.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
