+++
author = "Matthew Goldman"
categories = ["management"]
date = 2017-08-30T10:16:05Z
description = ""
draft = false
image = "__GHOST_URL__/content/images/2017/08/rawpixel-com-310778-1.jpg"
slug = "delegation-and-verification"
tags = ["management"]
title = "Delegation and Verification"

+++


One of the fundamental challenges of management is understanding the key balance between autonomy and micromanagement. At the root of it, this is about trust.

I was just reading *Colorless Tsukuru Tazaki and His Years of Pilgrimage* by Haruki Murakami. A side character in this novel sells a business training program that many people find objectionable. He describes what he does as getting the middle 80% of employees to do what they are told, but think they are autonomous. The others fall to either trouble makers or those who truly can lead, and you treat them differently, but the premise is that the people in the middle want to *think* they are making decisions, when in fact they are not.

This goes to the heart of delegation and trust. Many people ask for autonomy and complain about a lack of it. They want to be able to make their own decisions. Yet, many people do not want the true responsibility of such autonomy (that is to have to take blame or admit fault when it is due) nor do they have the quality of work to complete this.

No one wants to think of him or herself as a drone.

Yet, when we, as managers, delegate, we have to be able to be sure our team is doing their jobs. Yes, it is OK to make some mistakes, but series of mistakes or large mistakes are not acceptable in the normal course of business.

This challenges managers to find a way to delegate and develop trust, through a process of verification. "Trust, but very verify" is not a new adage, but one of which we should be reminded.

As a busy manager, this verification step is hard. I don't want to seem like I don't trust my team to do certain things, but sometimes I don't. I don't want to spend the time getting into everyone's work--that's why I have a team, because I don't have the time to do it myself. Yet, managers often feel punished, for lack of a better term, when a delegation and trust results in a situation going poorly.

A good manager will take this blame and work to address the root cause. A bad manager will let his anger explode on the person making the mistake. 

I have always loved Harry Truman's "the buck stops here" quote. I believe that in any team I am leading the buck stops with me. If I wrongly trusted someone with a task then that is on me. If I didn't verify something, then that is on me. I continue to struggle with the balance. 

It can be frustrating to deal with the mistakes, but I will continue to delegate. I will try to verify.

*Photo by rawpixel.com on Unsplash*

